table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  margin-left: 15px;
}


.avatar {
  vertical-align: middle;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.silver {
  background-color: silver;
}

button {
  margin-left: 10px;
}
